.dart_tool/
.pub/
.pub-cache/
build/
android/.gradle/
android/app/build/
android/local.properties
android/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/captures/
android/.cxx/
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Runner.xcworkspace/
macos/Pods/
macos/Flutter/
macos/Runner.xcworkspace/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
key.properties
**/*.keystore
**/*.jks
.env
.env.*
.idea/
.vscode/
*.log
*.tmp
*.swp
.DS_Store